.dew-diy {
  --dew-shift: filter 111ms, text-shadow 111ms;
  --dew-solar: #ddd;
  --dew-lunar: #404;
  --dew-hover: hue-rotate(270deg);
}

#mix:target {
  --dew-solar: #e40;
  --dew-lunar: lavender;
}

@media (prefers-color-scheme: dark) {
  .dew-diy {
    --dew-solar: purple;
    --dew-lunar: skyblue;
  }

  #mix:target {
    --dew-solar: #e40;
    --dew-lunar: #404;
  }
}

.splatter:focus-within {
  text-shadow:
    1cm 0 0 #e40,
    1cm 1cm 0 magenta,
    0 1cm 0 silver,
    0 -1cm 0 springgreen,
    -1cm 0 0 salmon,
    -1cm -1cm 0 crimson;
}

:any-link {
  font-weight: bold;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
  text-decoration-style: wavy;
  text-decoration-skip: ink;
}

* {
  box-sizing: border-box;
  font-style: inherit;
}

html {
  font-family: "courier new", courier, monospace;
  font-size: calc(1ex + 3vw);
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

cite {
  letter-spacing: 2px;
}

.aurora {
  contain: size;
  margin: auto;
  padding: 0;
  display: flex;
  flex-flow: column;
  flex-basis: 100vh;
  justify-content: center;
}

.aura {
  contain: size;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  flex-basis: 100vh;
  justify-content: center;
  line-height: 2;
  width: 100%;
}

.blurb {
  max-width: 33em;
  line-height: calc(8/5);
}

.tee {
  --case: uppercase;
  text-transform: var(--case);
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: .2ex;
  line-height: 1;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.tee a {
  text-decoration: none;
}

.tee > * {
  vertical-align: middle;
}

.eye {
  font-size: 2.2em;
  flex-basis: 100%;
  flex-grow: 1;
  text-indent: -1.2ch;
  margin: auto;
  margin-block-end: -1ch;
  z-index: 1;
}

.period {
  font-size: 8rem;
}

@media (max-width: 30em) {
  .tee {
    transform: rotate(90deg);
  }
}

@media (max-width: 50em) {
  .blurb {
    font-size: 1.5rem;
  }
}

.oral {
  contain: paint;
  margin: 0;
  font-size: 0;
  line-height: 0;
}
